@page "/ground-overlay"
@using GoogleMapsComponents

<h1>Google Map Ground Overlay</h1>

<GoogleMap @ref="@map1" Id="map1" Options="@mapOptions"></GoogleMap>
<button @onclick="@AddOverlay">Add Overlay</button>
<button @onclick="@RemoveOverlay">Remove Overlay</button>


<MapEventList @ref="@eventList" Events="@_events"></MapEventList>