@page "/map-marker-list"
@using GoogleMapsComponents

<h1>Google Map Markers List</h1>

<GoogleMap @ref="@map1" Id="map1" Options="@mapOptions" OnAfterInit="OnAfterInit"></GoogleMap>
<button @onclick="AddMarker1">Add markers part 1</button>
<button @onclick="AddMarker2">Add markers part 2</button>
<button @onclick="RemoveMarker">Remove marker</button>
<button @onclick="@RemoveMarkers">Remove all markers</button>
<button @onclick="Recenter">Re-center marker</button>
<button @onclick="FitBounds">Fit to markers</button>


<MapEventList @ref="@eventList" Events="@_events"></MapEventList>