@page "/mapMarker"
@using GoogleMapsComponents
@implements IDisposable

<h1>Google Map Markers</h1>

<GoogleMap @ref="@_map1" Id="map1" Options="@_mapOptions" OnAfterInit="AfterMapRender" ></GoogleMap>
<button @onclick="@AddMarker">Add marker</button>
<button @onclick="@AddMarkerStyled">Add styled font marker</button>
<button @onclick="@RemoveMarker">Remove marker</button>
<button @onclick="@Recenter">Re-center marker</button>
<button @onclick="@FitBounds">Fit to markers</button>
<button @onclick="@InvokeClustering">Invoke map cluster</button>
<button @onclick="@InvokeStyledIconsClustering">Invoke styled map cluster</button>
<button @onclick="@ClearClustering">ClearClustering</button>
<button @onclick="@GetAnimation">GetAnimation </button>
<button @onclick="@SetAnimation">SetAnimation </button>


<MapEventList @ref="@_eventList" Events="@_events"></MapEventList>
<style>
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #container {
        height: 100%;
        display: flex;
    }

    #sidebar {
        flex-basis: 15rem;
        flex-grow: 1;
        padding: 1rem;
        max-width: 30rem;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
    }

    #map {
        flex-basis: 0;
        flex-grow: 4;
        height: 100%;
    }

    .mdc-select,
    .mdc-select__anchor,
    .mdc-select__menu {
        width: 100%;
    }

    .marker {
        color: white;
        background-color: black;
        border: solid 1px black;
        font-weight: 900;
        padding: 4px;
        top: -8px;
    }

        .marker::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0%);
            border: solid 8px transparent;
            border-top-color: black;
        }

    .map-marker-label {
        position: absolute;
        color: blue;
        font-size: 16px;
        font-weight: bold;
        background: blueviolet
    }

    .custom-clustericon {
        background: var(--cluster-color);
        color: #000;
        border-radius: 100%;
        font-weight: bold;
        font-size: 15px;
        display: flex;
        align-items: center;
        opacity: 0.9
    }

        .custom-clustericon::before,
        .custom-clustericon::after {
            content: "";
            display: block;            
            position: absolute;            
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            background: var(--cluster-color);
            opacity: 0.3;
            border-radius: 100%;
        }

        .custom-clustericon::before {
            width: 125%;
            height: 125%;
        } 
        .custom-clustericon::after {
            width: 150%;
            height: 150%;
        }               

    .custom-clustericon-1 {
        --cluster-color: #98F6D5;
    }

    .custom-clustericon-2 {
        --cluster-color: #000000;
    }

    .custom-clustericon-3 {
        --cluster-color: #98B2F6;
    }
</style>