@page "/map-advanced-marker"
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using GoogleMapsComponents.Maps.Coordinates
@using GoogleMapsComponents.Maps.Extension

<h1>Google Map Advanced Markers</h1>
<smallNotice: Available only in the v=beta channel.></smallNotice:>
<GoogleMap @ref="@_map1" Id="map1" Options="@_mapOptions" OnAfterInit="OnAfterRenderAsync"></GoogleMap>
<button @onclick="@AddMarker">Add marker</button>
<button @onclick="@UpdatePosition">Recenter last</button>
<button @onclick="@UpdateContent">Update content</button>
<button @onclick="@AddMarkerWithPinElement">Add marker with pin element</button>
<button @onclick="GetMarkerPosition">Get advanced markers position</button>
<br />
<p>Clustering list</p>
<button @onclick="InvokeClustering">Invoke Clustering</button>
<button @onclick="ClearClustering">Clear Clustering</button>
<br/>
<p>Marker list</p>
<button @onclick="AddMarker1">Add advanced markers part 1</button>
<button @onclick="AddMarker2">Add advanced markers part 2</button>
<button @onclick="RemoveMarker">Remove advanced marker</button>
<button @onclick="RemoveMarkers">Remove all advanced markers</button>
<button @onclick="FitBounds">Fit to advanced markers</button>

<MapEventList Events="@_events"></MapEventList>
