@page "/ground-overlay"
@using GoogleMapsComponents

<h1>Google Map Ground Overlay</h1>

<GoogleMap @ref="@_map1" Id="map1" Options="@_mapOptions"></GoogleMap>
<button @onclick="@AddOverlay">Add Overlay</button>
<button @onclick="@RemoveOverlay">Remove Overlay</button>

<MapEventList Events="@_events"></MapEventList>