@page "/mapRoutes"
@using GoogleMapsComponents

<h1>Google Map</h1>

<GoogleMap @ref="@_map1" Id="map1" Options="@_mapOptions" Height="350px" OnAfterInit="@(async () => await OnAfterInitAsync())"></GoogleMap>
<button @onclick="@AddDirections">Add Direction</button>
<button @onclick="@RemoveRoute">Remove route</button>
<button @onclick="@RunDirectionsService">RunDirectionsService</button>
<p>
    Duration: @_durationTotalString <br />
    Distance: @_distanceTotalString <br />
</p>