@page "/mapEvent"
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using System.Diagnostics

<h1>Google Map Event</h1>

<GoogleMap ref="@map1" Id="map1" Options="@mapOptions" OnAfterInit="async () => await OnAfterInitAsync()">
</GoogleMap>

<input type="checkbox" bind="@DisablePoiInfoWindow" />Disable POI's popup info window<br>

<MapEventList ref="@eventList" Events="@_events"></MapEventList>

@functions {
    private GoogleMap map1;
    private MapEventList eventList;

    private MapOptions mapOptions;

    private List<String> _events = new List<String>();

    private bool DisablePoiInfoWindow { get; set; } = false;

    protected override async Task OnInitAsync()
    {
        mapOptions = new MapOptions()
        {
            zoom = 13,
            center = new LatLngLiteral()
            {
                Lat = 13.505892,
                Lng = 100.8162
            },
            mapTypeId = MapTypeId.Roadmap
        };
    }

    private async Task OnAfterInitAsync()
    {
        //Debug.WriteLine("Start OnAfterRenderAsync");

        await map1.AddListener("bounds_changed", OnBoundsChanged);

        await map1.AddListener("center_changed", OnCenterChanged);

        await map1.AddListener("click", OnClick);

        await map1.AddListener("dblclick", OnDoubleClick);

        await map1.AddListener("drag", OnDrag);

        await map1.AddListener("dragend", OnDragEnd);

        await map1.AddListener("dragstart", OnDragStart);

        await map1.AddListener("heading_changed", OnHeadingChanged);

        await map1.AddListener("idle", OnIdle);

        await map1.AddListener("maptypeid_changed", OnMapTypeIdChanged);

        await map1.AddListener("mousemove", OnMouseMove);

        await map1.AddListener("mouseout", OnMouseOut);

        await map1.AddListener("mouseover", OnMouseOver);

        await map1.AddListener("projection_changed", OnProjectionChanged);

        await map1.AddListener("rightclick", OnRightClick);

        await map1.AddListener("tilesloaded", OnTilesLoaded);

        await map1.AddListener("tilt_changed", OnTiltChanged);

        await map1.AddListener("zoom_changed", OnZoomChanged);
    }

    private void OnBoundsChanged(MapEventArgs _)
    {
        Console.WriteLine("Bounds changed.");

        _events.Insert(0, "Bounds changed.");
        _events = _events.Take(100).ToList();

        StateHasChanged();
    }

    private void OnCenterChanged(MapEventArgs _)
    {
        Console.WriteLine("Center changed.");

        _events.Insert(0, "Center changed.");
        _events = _events.Take(100).ToList();

        StateHasChanged();
    }

    private void OnClick(MapEventArgs e)
    {
        Console.WriteLine("Click.");

        _events.Insert(0, "Click.");
        _events = _events.Take(100).ToList();

        StateHasChanged();

        if(DisablePoiInfoWindow)
        {
            var mouseEvent = e as MouseEventArgs;
            mouseEvent.Stop();
        }
    }

    private void OnDoubleClick(MapEventArgs _)
    {
        Console.WriteLine("Double click.");

        _events.Insert(0, "Double click.");
        _events = _events.Take(100).ToList();

        StateHasChanged();
    }

    private void OnDrag(MapEventArgs _)
    {
        Console.WriteLine("Drag.");

        _events.Insert(0, "Drag.");
        _events = _events.Take(100).ToList();

        StateHasChanged();
    }

    private void OnDragEnd(MapEventArgs _)
    {
        Console.WriteLine("Drag end.");

        _events.Insert(0, "Drag end.");

        StateHasChanged();
    }

    private void OnDragStart(MapEventArgs _)
    {
        Console.WriteLine("Drag start.");

        _events.Insert(0, "Drag start.");
        _events = _events.Take(100).ToList();

        StateHasChanged();
    }

    private void OnHeadingChanged(MapEventArgs _)
    {
        Console.WriteLine("Heading changed.");

        _events.Insert(0, "Heading changed.");
        _events = _events.Take(100).ToList();

        StateHasChanged();
    }

    private void OnIdle(MapEventArgs _)
    {
        Console.WriteLine("Idle.");

        _events.Insert(0, "Idle.");
        _events = _events.Take(100).ToList();

        StateHasChanged();
    }

    private void OnMapTypeIdChanged(MapEventArgs _)
    {
        Console.WriteLine("OnMapTypeIdChanged.");

        _events.Insert(0, "OnMapTypeIdChanged.");
        _events = _events.Take(100).ToList();

        StateHasChanged();
    }

    private void OnMouseMove(MapEventArgs _)
    {
        Console.WriteLine("OnMouseMove.");

        _events.Insert(0, "OnMouseMove.");
        _events = _events.Take(100).ToList();

        StateHasChanged();
    }

    private void OnMouseOut(MapEventArgs _)
    {
        Console.WriteLine("OnMouseOut.");

        _events.Insert(0, "OnMouseOut.");
        _events = _events.Take(100).ToList();

        StateHasChanged();
    }

    private void OnMouseOver(MapEventArgs _)
    {
        Console.WriteLine("OnMouseOver.");

        _events.Insert(0, "OnMouseOver.");

        StateHasChanged();
    }

    private void OnProjectionChanged(MapEventArgs _)
    {
        Console.WriteLine("OnProjectionChanged.");

        _events.Insert(0, "OnProjectionChanged.");

        StateHasChanged();
    }

    private void OnRightClick(MapEventArgs _)
    {
        Console.WriteLine("OnRightClick.");

        _events.Insert(0, "OnRightClick.");

        StateHasChanged();
    }

    private void OnTilesLoaded(MapEventArgs _)
    {
        Console.WriteLine("OnTilesLoaded.");

        _events.Insert(0, "OnTilesLoaded.");

        StateHasChanged();
    }

    private void OnTiltChanged(MapEventArgs _)
    {
        Console.WriteLine("OnTiltChanged.");

        _events.Insert(0, "OnTiltChanged.");

        StateHasChanged();
    }

    private void OnZoomChanged(MapEventArgs _)
    {
        Console.WriteLine("OnZoomChanged.");

        _events.Insert(0, "OnZoomChanged.");

        StateHasChanged();
    }
}
