@page "/mapRoutes"
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps

<h1>Google Map</h1>

<GoogleMap @ref="@map1" Id="map1" Options="@mapOptions" Height="350px" OnAfterInit="@(async () => await OnAfterInitAsync())"></GoogleMap>
<button @onclick="@(_ => AddDirections())">Add Direction</button>
<button @onclick="@( _distanceTotalString => RemoveRoute())">Remove route</button>

<p>
    Duration: @_durationTotalString <br />
    Distance: @_distanceTotalString <br />
</p>

@code {
    private GoogleMap? map1;
    private MapOptions mapOptions = default!;
    private DirectionsRenderer dirRend = default!;
    private string? _durationTotalString;
    private string? _distanceTotalString;

    protected override void OnInitialized()
    {
        mapOptions = new MapOptions()
        {
            Zoom = 13,
            Center = new LatLngLiteral()
            {
                Lat = 40.603629,
                Lng = -75.472518
            },
            MapTypeId = MapTypeId.Roadmap
        };
    }

    private async Task RemoveRoute()
    {
        await dirRend.SetMap(null);

        _durationTotalString = null;
        _distanceTotalString = null;
    }

    private async Task OnAfterInitAsync()
    {
        //Create instance of DirectionRenderer
        dirRend = await DirectionsRenderer.CreateAsync(map1!.JsRuntime, new DirectionsRendererOptions()
        {
            Map = map1.InteropObject
        });
    }

    private async Task AddDirections()
    {
        _durationTotalString = null;
        _distanceTotalString = null;
        if (await dirRend.GetMap() is null) await dirRend.SetMap(map1!.InteropObject);

        //Adding a waypoint
        var waypoints = new List<DirectionsWaypoint>();
        waypoints.Add(new DirectionsWaypoint() { Location = "Bethlehem, PA", Stopover = true });

        //Direction Request
        DirectionsRequest dr = new DirectionsRequest();
        dr.Origin = "Allentown, PA";
        dr.Destination = "Bronx, NY";
        dr.Waypoints = waypoints;
        dr.TravelMode = TravelMode.Driving;

        //Calculate Route
        var directionsResult = await dirRend.Route(dr);
        if (directionsResult != null)
        {
            foreach (var route in directionsResult.Routes.SelectMany(x => x.Legs))
            {
                _durationTotalString += route.Duration.Text;
                _distanceTotalString += route.Distance.Text;
            }
        }
    }
}
